<body>
  <div class="container">
   <div class="head"> 
      <h3><strong>GitHub Tracker</strong></h3>
    </div>
    <video src="https://css-tricks-post-videos.s3.us-east-1.amazonaws.com/708209935.mp4" autoplay loop playsinline muted></video>

    <header class="viewport-header">
      <h1>
        GitHub
        <span>Tracker</span>
      </h1>
    </header>
    <video class="video-intro" autoplay loop muted>
      <source src="https://mdbootstrap.com/img/video/city.mp4" type="video/mp4" >
    </video>
    <app-profile></app-profile>
    <p>© Amimo | 2020</p>
  </div>
</body>